version: 0.35.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - getLastVisits
streams:
  - type: DeclarativeStream
    name: getLastVisits
    primary_key:
      - idVisit
    schema_loader:
      type: JsonFileSchemaLoader
      file_path: "./source_matomo_cloud/schemas/getLastVisits.json"
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://{{config['organization_name']}}.matomo.cloud
        path: /
        http_method: GET
        request_parameters:
          date: yesterday
          format: '{{ config[''format''] }}'
          idSite: '{{ config[''id_site''] }}'
          method: Live.getLastVisitsDetails
          module: API
          period: day
          token_auth: '{{ config[''auth_token''] }}'
        request_headers: {}
        request_body_json: {}
        authenticator:
          type: NoAuth
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: filter_offset
        page_size_option:
          type: RequestOption
          field_name: filter_limit
          inject_into: request_parameter
        pagination_strategy:
          type: OffsetIncrement
          page_size: 10
spec:
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    type: object
    required:
      - format
      - id_site
      - auth_token
      - organization_name
    properties:
      format:
        enum:
          - json
          - xml
          - csv
        type: string
        title: format
        default: json
      id_site:
        type: integer
        title: id_site
        default: 6
      auth_token:
        type: string
        title: auth_token
        airbyte_secret: true
      organization_name:
        type: string
        title: Organization Name
    additionalProperties: true
  documentation_url: https://example.org
  type: Spec
